<main>
  <nav>
    <button fancyButton="#817" (click)="zoompanel.fit()"> FIT </button>
    <button fancyButton="#a35" (click)="zoompanel.revalidate()"> REVALIDATE [NOW] </button>
    <button fancyButton="#c66" (click)="zoompanel.clipped = !zoompanel.clipped"> OVERFLOW - [{{zoompanel.clipped?'SHOW':'HIDE'}}] </button>
    <button fancyButton="#e94" (click)="zoompanel.zoomIn()"> ZOOM - [IN] </button>
    <button fancyButton="#ed0" (click)="zoompanel.zoomOut()"> ZOOM - [OUT] </button>
    <button fancyButton="#9d5" (click)="zoompanel.setZoom(1)"> ZOOM - [1x] </button>
    <button fancyButton="#4d8" (click)="zoompanel.setZoom(20)"> ZOOM - [20x] </button>
    <p class="text">Ngx-Zoomable Demo ( <a href="https://github.com/json-k/ngx-zoomable">Git</a> )</p>
    
  </nav>
  <ngx-zoomable #zoompanel [clipped]="true" [padding]=20>
    <div ngxZoomable 
      style="border:2px solid #a35;z-index:1;"
      [style.display]="zoompanel.initializing?'none':'block'"
      [x]=-20 
      [y]=-20 
      [w]=540 
      [h]=540>
        <p class="label">Image 0.0</p>
    </div>
    <div ngxZoomable 
      style="border:2px solid #817;z-index:2;"
      [style.display]="zoompanel.initializing?'none':'block'"
      [x]=1480 
      [y]=480 
      [w]=540 
      [h]=540>
        <p class="label">Image 1.1 (low res)</p>
    </div>
    <div ngxZoomable 
      style="border:2px solid#c66;z-index:3;"
      [style.display]="zoompanel.initializing?'none':'block'"
      [x]=-20
      [y]=980
      [w]=2040 
      [h]=540>
        <p class="label">Image 2.0</p>
    </div>
    <div ngxZoomable 
      style="border: 2px outset rgba(255,255,255,0.2);background-color:rgba(255,255,255,0.1);z-index:4;border-radius:8px;backdrop-filter: blur(3px);box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);"
      [style.display]="zoompanel.initializing?'none':'block'"
      [x]=560 
      [y]=460 
      [w]=250 
      [h]=495>
    </div>
    <img ngxZoomable
      style="z-index:0;image-rendering: pixelated;"
      [style.display]="zoompanel.initializing?'none':'block'"
      src="assets/image-0-0.png"
      [x]=0
      [y]=0
      [w]=500
      [h]=500>
    <img ngxZoomable
      style="z-index:0;image-rendering: pixelated;"
      [style.display]="zoompanel.initializing?'none':'block'"
      src="assets/image-0-1.png"
      [x]=500
      [y]=0
      [w]=1000
      [h]=1000>
    <img ngxZoomable
      style="z-index:0;image-rendering: pixelated;"
      [style.display]="zoompanel.initializing?'none':'block'"
      src="assets/image-0-2.png"
      [x]=1500
      [y]=0
      [w]=500
      [h]=500>
    <img ngxZoomable
      style="z-index:0;image-rendering: pixelated;"
      [style.display]="zoompanel.initializing?'none':'block'"
      src="assets/image-1-0.png"
      [x]=0
      [y]=500
      [w]=500
      [h]=500>
    <img ngxZoomable
      style="z-index:0;image-rendering: pixelated;"
      [style.display]="zoompanel.initializing?'none':'block'"
      src="assets/image-1-1.png"
      [x]=1500
      [y]=500
      [w]=500
      [h]=500>
    <img ngxZoomable
      style="z-index:0;image-rendering: pixelated;"
      [style.display]="zoompanel.initializing?'none':'block'"
      src="assets/image-2-0.png"
      [x]=0
      [y]=1000
      [w]=2000
      [h]=500>
    <video width="480" height="270" ngxZoomable autoplay loop muted
      style="border: 1px solid #c66;"
      [x]=1540
      [y]=-20
      [w]=480
      [h]=270>
      <source src="assets/video-852x480.mp4">
    </video>
    <img ngxZoomable
      src="assets/crosshair-16x16.svg"
      style="z-index: 98;"
      [x]=992
      [y]=742
      [w]=16
      [h]=16>
    <div ngxZoomable
      style="background-color: #ed0; padding: 1em;width:200px;font-size: smaller;box-shadow: 0 0 10px #000;"
      [x]=815
      [y]=460
      [w]="Size.SCALE"
      [h]="Size.SCALE"
      [pointer]=true
      > 
        <p>This note will scale with the view.</p>
        <p>In fact this entire object will.</p>
        <p>The mouse <b>can't</b> be used to pan and zoom over this tho (so the checkbox is functional).</p>
        <p><img src="assets/threecats-logo.png" width="100" height="100"></p>
        <p><input type="checkbox"></p> 
    </div>
    <img 
      src="assets/crosshair-16x16.svg"
      style="position:absolute;left: calc(50% - 8px);top: calc(50% - 8px);width: 16px;height: 16px;pointer-events: none;z-index: 99;mix-blend-mode: difference;"
    >
  </ngx-zoomable>
</main>